@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    font-family: Roboto;
    color:#48426D;
    font-size: 16px;
}

.form{
    width: 65%;
    margin: 4rem auto 1rem auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 1920px;
}

.form__container{
    background-color: #fff;
    border-radius: 1.25rem;
    padding: 3rem 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form__item{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

label{
    color:#312c51cb;
    font-weight: 700;
    font-size: 0.75rem;
}

input{
    
    outline: none;
    color: #48426D;
    border: 0px solid black;
    border-bottom: 1.5px solid #312c5146;
    height: 1.8rem;
    
    font-family: Roboto;
}

input:focus{
    
    border-bottom: 1.5px solid #312c51;
    height: 1.8rem;
    
}



.button{
    background-color: #48426D;
    color:#fff;
    font-weight: 500;
    font-family: Roboto;
    border-radius: 1.25rem;
    margin:auto;
    margin-top: 1rem;
    padding: 0.6rem 2.2rem;
    border: 0;
}

.button:hover{
    background-color: #312C51;
    transition: 1s;
    cursor: pointer;
}